body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #000;
}

.products {
    text-align: center;
    margin: 170px auto;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.product img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.product h3 {
    margin: 15px 0;
    color: #000;
}

.product .price {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.star {
    font-size: 1.2em;
    color: #ccc;
}

.star.filled {
    color: #f39c12;
}

.sold {
    margin-left: 10px;
    color: #777;
    font-size: 0.9em;
}
