/* Makeup Section */
.makeup {
    text-align: center;
}

.makeup-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

h1 {
    font-size: 2em;
    color: #000; /* Ensure the text color is black */
    margin-bottom: 20px;
}
.makeup-item {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 300px;
    margin: 170px auto;
}

.makeup-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.makeup-item h3 {
    margin: 15px 0;
    font-size: 1.5em;
    color: #333;
}

.makeup-item p {
    margin: 10px 0;
    color: #666;
}

.makeup-item .price {
    font-size: 1.2em;
    color: #333;
}

.makeup-item .stock {
    font-size: 1em;
    color: #999;
}

.makeup-item .button {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.makeup-item .button:hover {
    background-color: #444;
}

.makeup-item .out-of-stock {
    background-color: #f44336;
    color: #fff;
}
