body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.admin-container {
    display: flex;
    height: 100vh;
}

.admin-sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
}

.admin-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.admin-sidebar ul li {
    padding: 20px;
}

.admin-sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.admin-sidebar ul li a:hover {
    background-color: #555;
}


.admin-main {
    flex: 1;
    padding: 20px;
}

.admin-header h1 {
    margin-top: 0;
}

.admin-section {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.admin-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.notification {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    margin-bottom: 20px;
}